//! **************************************************************************
// Written by: Map O.87xd on Fri May 27 16:52:30 2022
//! **************************************************************************

SCHEMATIC START;
COMP "BASE" LOCATE = SITE "P8" LEVEL 1;
COMP "X0" LOCATE = SITE "P5" LEVEL 1;
COMP "X1" LOCATE = SITE "P35" LEVEL 1;
COMP "X2" LOCATE = SITE "P34" LEVEL 1;
COMP "X3" LOCATE = SITE "P32" LEVEL 1;
COMP "A" LOCATE = SITE "P44" LEVEL 1;
COMP "B" LOCATE = SITE "P13" LEVEL 1;
COMP "C" LOCATE = SITE "P14" LEVEL 1;
COMP "D" LOCATE = SITE "P15" LEVEL 1;
COMP "E" LOCATE = SITE "P16" LEVEL 1;
COMP "F" LOCATE = SITE "P17" LEVEL 1;
COMP "G" LOCATE = SITE "P21" LEVEL 1;
SCHEMATIC END;

