
# PlanAhead Generated physical constraints 

NET "A" LOC = P44;
NET "B" LOC = P13;
NET "BASE" LOC = P8;
NET "C" LOC = P14;
NET "D" LOC = P15;
NET "E" LOC = P16;
NET "F" LOC = P17;
NET "G" LOC = P21;
NET "X0" LOC = P5;
NET "X1" LOC = P35;
NET "X2" LOC = P34;
NET "X3" LOC = P32;
